$color1: #ffffff;
$color2: #a9c2d1;
$color3: #7a8891;
$color4: #2c3e4a;
$color5: #2f5772;
$accent: #3f6a86;

$main-font: 'Raleway', sans-serif;

* {
    font-family: $main-font;
}

section {
	background-color: $color1;
	color: $color4;
}

section wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 800px;
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
	border-bottom: 1px solid black;
}

a.NewsLink {
  color: #3f6a86;
  text-decoration: none;

  &:hover {
    color: #7a8891;
  }
}